# Contents

In [ ]:
# Vectorizations using bag of words technique 
# vectorizer from sklearn CountVectorizer
# Model Classifier: Support Vector Classifier 

# Acuracy 70% ? ? ? "Im surprised" / check whether is real or just chance. 

# Metrics: accuracy, classification report and confusion matrix from sklearn

# Setup

In [2]:
import pandas as pd
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Raw dataset

In [1]:
df = pd.read_csv('../data/raw/tweets-train.csv')

NameError: name 'pd' is not defined

In [6]:
df

           textID                                               text sentiment
0      cb774db0d1                    ['would', 'responded', 'going']   neutral
1      549e992a42            ['sooo', 'sad', 'miss', 'san', 'diego']  negative
2      088c60f138                               ['boss', 'bullying']  negative
3      9642c003ef                    ['interview', 'leave', 'alone']  negative
4      358bd9e861  ['sons', 'could', 'put', 'releases', 'already'...  negative
...           ...                                                ...       ...
27476  4eac33d1c0  ['wish', 'could', 'see', 'denver', 'husband', ...  negative
27477  4f4c4fc327  ['wondered', 'rake', 'client', 'made', 'clear'...  negative
27478  f67aae2310  ['yay', 'good', 'enjoy', 'break', 'probably', ...  positive
27479  ed167662a5                                          ['worth']  positive
27480  6f7127d9d7  ['flirting', 'going', 'atg', 'smiles', 'yay', ...   neutral

[27481 rows x 3 columns]

# Vectorizing text

* Convert a collection of text documents to a matrix of token counts
* produces 25,913 features. I'll select only first 23,000

In [21]:
vectorizer = CountVectorizer(stop_words='english', strip_accents='ascii', lowercase=True, max_features=23000)

In [22]:
X = vectorizer.fit_transform(df['text'])

In [23]:
print(len(vectorizer.get_feature_names()))

23000

In [24]:
print(X.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [25]:
Y = df['sentiment']

# Split train Test

* Test size left as default 0.25 -> train 0.75 
* shuffle rows left to true

In [29]:
X_train, x_test, Y_train, y_test = train_test_split(X, Y, random_state=42)

# SVC Model

In [31]:
clf = SVC()

In [32]:
clf.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [34]:
predictions = clf.predict(x_test)

In [38]:
real_pred = pd.DataFrame({'y_true':y_test, 'y_pred':predictions})

In [39]:
real_pred

         y_true    y_pred
1588   positive   neutral
23879   neutral   neutral
6561    neutral   neutral
2602   negative  negative
4003   positive  positive
...         ...       ...
1039   positive  positive
2133   positive  positive
25863  negative   neutral
27246   neutral   neutral
23459   neutral  positive

[6871 rows x 2 columns]

# Metrics and model evaluation

In [55]:
print("Accuracy archived: {0} %".format( round(accuracy_score(real_pred['y_true'],real_pred['y_pred']), 2)))

Accuracy archived: 0.7 %

In [49]:
print(classification_report(real_pred['y_true'],real_pred['y_pred']))

              precision    recall  f1-score   support

    negative       0.79      0.52      0.63      1957
     neutral       0.62      0.80      0.70      2787
    positive       0.77      0.71      0.74      2127

    accuracy                           0.70      6871
   macro avg       0.73      0.68      0.69      6871
weighted avg       0.71      0.70      0.69      6871

In [52]:
pd.DataFrame(confusion_matrix(real_pred['y_true'],real_pred['y_pred']), index=[('Actuals','Negative'), ('Actuals','Neutral'), ('Actuals','Positive')], 
            columns=[('predicted','Negative'), ('predicted','Neutral'), ('predicted','Positive')])

,"(predicted, Negative)","(predicted, Neutral)","(predicted, Positive)"
"(Actuals, Negative)",1026,792,139
"(Actuals, Neutral)",224,2241,322
"(Actuals, Positive)",51,564,1512

In [ ]:
#